@font-face {
  font-family: 'encode_sans_normalbold';
  src: url('../fonts/encodesansnormal-700-bold-webfont.eot');
  src: url('../fonts/encodesansnormal-700-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/encodesansnormal-700-bold-webfont.woff') format('woff'),
       url('../fonts/encodesansnormal-700-bold-webfont.ttf') format('truetype'),
       url('../fonts/encodesansnormal-700-bold-webfont.svg#encode_sans_normalbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.myuw-f1, .myuw-f2, .myuw-f3, .myuw-f4, .myuw-f5, .myuw-f6 {
  display: block;
  font-family: 'encode_sans_normalbold';
}

.myuw-p {
  font-family: 'Open Sans', sans-serif;
}

.myuw-c1 {
  background-color: #2E6884;
}

.myuw-c1a {
  background-color: #36799A;
}

.myuw-c2 {
  background-color: #844B2E;
}

.myuw-c2a {
  background-color: #9A5736;
}
.myuw-c3 {
  background-color: #14511E;
}
.myuw-c3a {
  background-color: #218431;
}
.myuw-c4 {
  background-color: #444444;
}
.myuw-c4a {
  background-color: #646464;
}
.myuw-c5 {
  background-color: #91279f;
}
.myuw-c5a {
  background-color: #BD37CF;
}
.myuw-c6 {
  background-color: #716141;
}
.myuw-c6a {
  background-color: #84734C;
}
.myuw-c7 {
  background-color: #4B2E84;
}
.myuw-c7a {
  background-color: #653FB2;
}
.myuw-c8 {
  background-color: #352E9B;
}
.myuw-c8a {
  background-color: #473EC5;
}
